.label {
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  padding: 4px 8px;
  justify-content: center;
  height: 24px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}

.draft {
  color: #30b25d;
  background: #ebffed;
}

.sent {
  color: #818181;
  background: #e0e0e0;
}
