.item {
  width: 280px;
  height: 68px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ff8a00;
}

.item:hover {
  color: #b15e00;
}

.row {
  position: relative;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
}

.bar {
  width: 2px;
  height: 100%;
  background: #ff8a00;
  flex: 0 0 2px;
}

.content {
  width: 252px;
  height: 24px;
  display: flex;
  align-items: center;
  margin: 10px 12px 10px 14px;
  column-gap: 6px;
  color: inherit;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: inherit;
}

.iconWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 8px;
  margin: 0;
  transition: background 0.2s ease;
  color: inherit;

  &.collapsed {
    background: rgba(255, 247, 218, 0.7);
  }
}

.iconMask {
  width: 16px;
  height: 16px;
  display: inline-block;
  flex: 0 0 16px;

  background-color: currentColor; /* цвет иконки */
  -webkit-mask: var(--icon-url) no-repeat center;
  mask: var(--icon-url) no-repeat center;
  -webkit-mask-size: contain; /* КЛЮЧЕВОЕ */
  mask-size: contain;
}

.label {
  line-height: 1;
  font-size: 20px;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
